/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #fff;
    line-height: 1.6;
    text-align: center;
}

header {
    background-color: #333;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #fff;
    text-transform: uppercase;
}

main {
    padding: 50px 20px;
}

.control-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.btn {
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #feb47b;
    transform: scale(1.1);
}

.status {
    margin-top: 20px;
    font-size: 1.5em;
}

#server-status {
    font-weight: bold;
}

footer {
    background-color: #333;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 1.2em;
    color: #fff;
}

/* Efeitos para os ícones */
.fas {
    margin-right: 10px;
}
